[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-openstackclient = '*'
python-openstacksdk = '*'
python-octaviaclient = '*'
ansible = {git = "https://github.com/larsks/ansible.git", ref = "bug/openstack-inventory"}

[dev-packages]

[requires]
python_version = "3.6"
